.users{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 62px;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    padding: 5px;
    margin: 0;
    color: #fff;
    background: linear-gradient(45deg,red,blue,green);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 20s ease-in-out infinite;
}

@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.users button{
    margin: 0px 10px;
    height: 40px;
    font-size: 14px;
    border: solid 1px black;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .branding{
    display: flex;
    align-items: center;
}

header .branding img{
    margin-right: 10px;
}

header .branding h4{
    font-weight: 400;
    font-size: 30px;
}

header .branding h4 span{
    font-weight: 600;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}